@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');





:root{
    --black: #0e0e0ec8;
    --white : #ffffff9c;
    --box-shadow: 0px 4px 4px #00000040;
}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: rgb(232, 231, 231);
    
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

}
html::-webkit-scrollbar{
    width: .8rem;
    
}
html::-webkit-scrollbar-track{
    background: transparent;
    
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
    
}

.header{
    top: 0;right: 0;left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
    
    
}
.header .logoContent{
    display: flex;
    align-items: center;
    
}
.header .logoContent .logo img{
    height: 4rem;
}

.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(5, 5, 5);
}

.header .navbar a{
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
    
    
}
.header .navbar a:hover{
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
    color: rgba(255, 0, 0, 0.484);
    
}
.header .icon i{
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
    color: rgba(1, 1, 1, 0.971);
    
}

.header .search{
    display: none;
    top: 100%;
    margin: 1.5rem 7%;
    background-color: transparent;
    width: 50%;
    right: 0;
    height: 5rem;
    position:  absolute;
    

}



.header .search input{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    margin-right: 7%;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
    color: rgb(255, 255, 255);
}
.header .search.active{
    display: inline-block;
    
}
#menu-bar{
    display: none;
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #191919;
}
.about img{
    height: 700px;
    width: 500px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


















.swiper-pagination-bullet{
    background-color: var(--black);
}
.swiper-button-next{
    color: var(--black);
}
.swiper-button-prev{
    color: var(--black);
}

.credit span {
    color: rgb(255, 0, 0);
}




@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
    .home .homeContent{
        margin-left: 0;
        width: 80%;
    }
}

@media (max-width:768px) {
    #menu-bar{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: var(--white);
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .home .homeContent{
        margin-left: 0;
        width: 90%;
    }
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }
}